<div class='text-center'>
    <h1>このWEBアプリについて</h1>
</div>
<div class='center-block'>
    <img src="profile.jpeg" alt="画像" >
</div>
<div>
    <p>名前: Toshiki</p>
    <p>生年月日: 2000年2月25日</p>
    <p>在籍: Douglas College</p>
    <p>学んだ言語: 英語、スペイン語、python、C++、ruby、HTML、CSS、Ruby on Rails</p>
    <p>趣味: サッカー、筋トレ</p>
</div>
